# Python / Django
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
backend/media/
media/
backend/staticfiles/
staticfiles/

# Секреты
.env
.env.local

# Редакторы
.vscode/
.idea/

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/

# ОС
.DS_Store
Thumbs.db